<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My rirle</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/lobby.css">
</head>
<body onload="loadChatMessages(); updateGameStatus()">
    <span th:text="${currentNickname}" style="display:none" id="current-nickname"></span>
    <div class="game-container" data-bs-theme="dark">
        <!--div class="admin">
            <div class="admin-lobby" id="admin">
                <div class="admin-lobby-button">
                    <div class="admin-lobby-button-chat">
                        <button class="btn btn-sm btn-outline-light " id="block-chat-btn"
                                onclick="onSendChoice()"> Block the chat </button>
                        <button class="btn btn-sm btn-outline-light " id="unblock-chat-btn"
                                onclick="onSendChoice()"> Unblock the chat </button>
                    </div>
                    <div class="admin-lobby-button-player">
                        <button class="btn btn-sm btn-outline-light " id="block-player-btn"
                                onclick="onSendChoice()"> block the player </button>
                        <button class="btn btn-sm btn-outline-light " id="unblock-player-btn"
                                onclick="onSendChoice()"> Unblock the player </button>
                    </div>
                    <div class="admin-lobby-button-menu">
                        <button class="btn btn-sm btn-outline-light " id="choice-game-room-btn"
                                onclick="onSendChoice()"> Choice game room </button>
                        <button class="btn btn-sm btn-outline-light " id="admin-chat-btn"
                                onclick="onSendChoice()"> Admin chat </button>
                    </div>
                </div>
                <div class="admin-lobby-chat"></div>
                <div class="admin-lobby-input-box"></div>
            </div>
        </div-->
        <div class="game">
            <div class="game-header" id="game-header">
                <div class="game-header-nickname" id="nickname"></div>
                <div class="game-header-logo">RPS</div>
                <div class="game-header-rating" id="rating"></div>
            </div>
            <div class="game-body" id="game-body-init">
                <div class="game-body-top">
                    <div class="game-body-top-wait-message" id="waiting-text" style="display:none">Waiting for a rival...</div>
                </div>
                <div class="game-body-middle">
                    <button class="btn btn-outline-light btn-lg btb-start-game" id="start-game-btn"
                      onclick="onStartGameClick()">
                        <i class="fas fa-hand-scissors"></i> Start <i class="fas fa-hand-rock"></i> Game <i class="fas fa-hand-paper"></i></button>

                    <button class="btn btn-outline-secondary btn-lg btb-start-game" id="cancel-btn" style="display:none"
                            onclick="onCancelClick()">
                        <i class="fas fa-hand-lizard"></i> Cancel <i class="fas fa-hand-lizard"></i></button>
                </div>
                <div class="game-body-bottom"></div>
            </div>
            <div class="game-body-running" id="game-body-running" style="display:none">
                <div class="game-body-running-completed" id="player-completed" style="display:none"></div>
                <div class="game-body-running-current-round" id="current-round" style="display:none"></div>
                <div class="game-body-running-player">
                    <div class="game-body-running-player-score" id="self-score"></div>
                    <div class="game-body-running-player-choices">
                        <div class="player-choice-spacer"></div>
                        <div class="player-choice" style="">
                                <img src="/assets/ic/rock.png" class="player-choice-img" id="self-rock"
                                     onclick="onPlayerChoice('rock')">
                        </div>
                        <div class="player-choice-spacer"></div>
                        <div class="player-choice" style="">
                                <img src="/assets/ic/paper.png" class="player-choice-img" id="self-paper"
                                     onclick="onPlayerChoice('paper')">
                        </div>
                        <div class="player-choice-spacer"></div>
                        <div class="player-choice" style="">
                                <img src="/assets/ic/scissors.png" class="player-choice-img" id="self-scissors"
                                     onclick="onPlayerChoice('scissors')">
                        </div>
                        <div class="player-choice-spacer"></div>
                    </div>
                    <div class="game-body-running-player-bottom" >
                        <button class="btn btn-sm btn-outline-light " id="send-choice-btn"
                                onclick="onSendChoice()" style="display:none"> Send choice </button>
                    </div>
                </div>
                <div class="game-body-running-player">
                    <div class="game-body-running-player-score" id="enemy-score"></div>
                    <div class="game-body-running-player-choices">
                        <div class="player-choice-spacer"></div>
                        <div class="player-choice" style="">
                            <img src="/assets/ic/rock.png" class="player-choice-img" id="enemy-rock">
                        </div>
                        <div class="player-choice-spacer"></div>
                        <div class="player-choice" style="">
                            <img src="/assets/ic/paper.png" class="player-choice-img" id="enemy-paper">
                        </div>
                        <div class="player-choice-spacer"></div>
                        <div class="player-choice" style="">
                            <img src="/assets/ic/scissors.png" class="player-choice-img" id="enemy-scissors">
                        </div>
                        <div class="player-choice-spacer"></div>
                    </div>
                    <div class="game-body-running-player-bottom">
                        <div class="player-enemy-nickname" id="enemy-nickname"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="chat">
            <div class="chat-messages" id="chat-messages">
                <!--div class="chat-message">
                    <span class="chat-message-nickname">
                    11111111111:
                    </span>
                    Сама последовательность была известна еще с древних времен — в частности, она использовалась в древнеиндийском стихосложении, в том или ином виде ее знали древнегреческие и арабские математики. Заслуга именно Фибоначчи была в том, что он популяризировал ее в западноевропейской математике, а также ввел в европейскую науку позиционную систему счисления (известную народам Востока), которая имела краеугольное значение в последующем развитии математических наук.
                </div>
                <div class="chat-message">
                    <span class="chat-message-nickname">
                    22222222222:
                    </span>
                    Сама последовательность была известна еще с древних времен — в частности, она использовалась в древнеиндийском стихосложении, в том или ином виде ее знали древнегреческие и арабские математики. Заслуга именно Фибоначчи была в том, что он популяризировал ее в западноевропейской математике, а также ввел в европейскую науку позиционную систему счисления (известную народам Востока), которая имела краеугольное значение в последующем развитии математических наук.
                </div>
                <div class="chat-message">
                        <div class="dropdown" style="display: inline">
                            <span class="dropdown-toggle chat-message-nickname" id="dropdownMenuSpan" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            33333333333:
                            </span>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuSpan">
                                <a class="dropdown-item" href="#">Option 1</a>
                                <a class="dropdown-item" href="#">Option 2</a>
                                <a class="dropdown-item" href="#">Option 3</a>
                            </div>
                        </div>
                    Сама последовательность была известна еще с древних времен — в частности, она использовалась в древнеиндийском стихосложении, в том или ином виде ее знали древнегреческие и арабские математики. Заслуга именно Фибоначчи была в том, что он популяризировал ее в западноевропейской математике, а также ввел в европейскую науку позиционную систему счисления (известную народам Востока), которая имела краеугольное значение в последующем развитии математических наук.
                </div-->
            </div>
            <div class="chat-message-private" style="display:none" id="message-private">
                Private message to:
                <span id="nickname-span-private"></span>
                <button type="button" class="btn-close" aria-label="Close" onclick="offPrivateMessage()"></button>
            </div>
            <form onsubmit="return onChatMessageClick()">
            <div class="chat-input-box">
                <div class="input-group input-group-sm" >
                    <input type="text" class="form-control" placeholder="Chat message" aria-label="Chat message" aria-describedby="button-addon2" id="chat-message-input">
                    <button class="btn btn-outline-secondary chat-input-button" type="submit" id="button-addon2" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                            <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                        </svg>
                        </button>

                </div>
            </div>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="/assets/lobby.js"></script>
</body>
</html>